{% extends 'main/base.html' %}

{% block title %}Ready for Purchases?{% endblock %}

{% block styles %}
    <style>
        .order {
            border-color: darkgray;
            border-style: solid;
            border-width: thick;
            display:block;
        }

        .item {
            display:flex;
            align-items: center;
            margin-left:15%;
            margin-right:15%
        }

        .button-config {
            display:flex;
            justify-content: center;
            align-items: center;
            gap:25px
        }

        .order-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .order-btn a, button {
            font-size: 25px;
            font-weight: bold;
            background-color: lightgoldenrodyellow;
            color: cornflowerblue;
            font-style: italic;
            font-family: monospace;
            text-align: center;
            border-style:solid;
            border-color:black;
            text-decoration-line:none;
        }

        .order-btn a {
            width:25%;
        }

        .order-btn a:hover, button:hover {
            color: red;
        }

    </style>
{% endblock %}

{% block content %}
    <!-- Header -->
    <h1 style="text-align:center">Cart</h1>

    <!-- Checking for cart data -->
    {% if cart %}
        <!-- Whole Parts container -->
        <div class="order">
            {% for item, amount in cart.items %}
                {% for part in parts %}
                    {% if item == part.name %}
                        <!-- {{ part.name }} -->
                        <div class="item">
                        <div style="display:flex">
                            <!-- Image -->
                            <img src="{{ part.image.url }}" alt="{{ part.name }}" width="200" height="200">
                            <!-- Text -->
                            <div>
                                <h2>{{ item }}</h2>
                                <h3>{{ part.price }}</h3>
                            </div>
                        </div>
                            <div style="margin-left:auto; margin-right:50px">
                                <!-- {{ part.name }} Amount -->
                                <div class="button-config">
                                    <button onclick="Add('{{ part.name }}', -1)">&minus;</button>
                                    <p id='{{ part.name }}' >{{ amount }}</p>
                                    <button onclick="Add('{{ part.name }}', 1)">&plus;</button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}


        </div>
        <div class="order-btn">
            <form method="POST" action="/price/">
                {% csrf_token %}
                <!-- Submit Order -->
                <button type="submit" name="list" id="list" value="nothing" onclick="info()">Submit Order</button>
            </form>
            <!-- Continue Shopping -->
            <a href="/parts/">Continue Shopping</a>
        </div>
    <!-- If no data is found -->
    {% else %}
        <h1>Not Found</h1>
    {% endif %}
{% endblock %}

{% block Javascript %}
    <script>
        const lst = [{% for i in cart %}"{{ i }}",{% endfor %}];
        let new_lst = new Map();
        function Add(name, range) {
            // turns the string into an integer
            let num = +document.getElementById(name).innerText;
            if (num+range > 0) {
                num += range
                if (num < 0) {
                    num = 0
                }
            }
            else {
                num = 0
            }
            document.getElementById(name).innerText = num;
        }

        function info() {
            for (let i = 0; i < lst.length; i++){
                new_lst.set(lst[i], document.getElementById(lst[i]).innerText)
            }
            document.getElementById('list').value = JSON.stringify(Object.fromEntries(new_lst))
        }


    </script>
{% endblock %}